{% extends "base.html" %}

{% block app_content %}
    <h1>Control</h1>
    <h3> Switch 1 ==> <a href="/switches/switch1/on" <button type="button" class="btn btn-primary"> ON </button></a> 
    <a href="/switches/switch1/off" <button type="button" class="btn btn-primary">OFF</button></a></h3>
    <h3> Switch 2 ==> <a href="/switches/switch2/on" <button type="button" class="btn btn-primary"> ON </button></a> 
    <a href="/switches/switch2/off" <button type="button" class="btn btn-primary">OFF</button></a></h3>
    <h3> Switch 3 ==> <a href="/switches/switch3/on" <button type="button" class="btn btn-primary"> ON </button></a> 
    <a href="/switches/switch3/off" <button type="button" class="btn btn-primary">OFF</button></a></h3>
    <h3> Switch 4 ==> <a href="/switches/switch4/on" <button type="button" class="btn btn-primary"> ON </button></a> 
    <a href="/switches/switch4/off" <button type="button" class="btn btn-primary">OFF</button></a></h3>
    <h3> Switch 5 ==> <a href="/switches/switch5/on" <button type="button" class="btn btn-primary"> ON </button></a> 
    <a href="/switches/switch5/off" <button type="button" class="btn btn-primary">OFF</button></a></h3>
{% endblock %}
